.layout {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding-top: 0.5rem; // py-2
    padding-bottom: 0.5rem;
    gap: 0.5rem; // gap-2

    border-bottom: 1px solid black;
}

.content {
    padding: 10px;
}
