*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

/* 여백 초기화 */
body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

/* a 링크 초기화 */
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}

/* 폰트 스타일 초기화 */
address {
    font-style: normal;
}

/* 블릿기호 초기화 */
ul,
li,
ol {
    list-style: none;
}

/* 테이블 초기화 */
table {
    border-collapse: collapse;
    border-spacing: 0;

    th {
        font-weight: inherit;
    }
}

/* 버튼초기화 */
button {
    border: 0;
}

.tiptap {
    p {
        padding: 0.375rem 0;
    }

    pre {
        background: #0d0d0d;
        border-radius: 0.5rem;
        color: #fff;
        font-family: inherit;
        padding: 0.75rem 1rem;
        line-height: 1.6rem;

        code {
            background: none;
            color: inherit;
            font-size: 1rem;
            padding: 0;
        }
    }

    ul,
    ol {
        padding: 0 2rem;

        p {
            padding: 0;
        }
    }

    ul > li {
        list-style: disc;

        li {
            list-style: circle;
        }
    }

    ol > li {
        list-style: decimal;
    }

    blockquote {
        border-left: 3px solid var(--color-border);
        margin-left: 0;
        margin-right: 0;
        padding-left: 0.625rem;
        background-color: whitesmoke;
    }

    a {
        text-decoration: underline;
        color: #477bff;
    }

    iframe {
        padding: 0.625rem 0;
    }

    .tableWrapper {
        margin: 1.25rem 0;
    }

    table {
        overflow: hidden;
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        border: 1px solid var(--color-border);
        user-select: contain;

        tr {
            &:nth-child(2n) {
                background-color: var(--color-background);
            }

            &:nth-child(2n + 1) {
                background-color: var(--color-deep-background);
            }

            td {
                padding: 0.9375rem 0.375rem;
                border-right: 1px solid var(--color-border);
                border-bottom: 1px solid var(--color-border);
            }
        }
    }
}

.resize-cursor {
    td:has(.column-resize-handle) {
        border-right: 2px solid #477bff !important;
        cursor: col-resize;
    }
}
